html, body {
  padding: 0;
  margin: 0;
}

.markdown-body {
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #fff;
  }

  .shiki, .shiki span {
    color: var(--shiki-dark) !important;
    background: var(--shiki-dark-bg) !important;
  }
}
